:root {
  --bg: #110011; /* Glossy black */
  --fg: #ffffff;
}

@font-face {
    font-family: 'isocpeurregular';
    src: url('isocpeur-webfont.woff2') format('woff2'),
         url('isocpeur-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  color: var(--fg);
  background-color: var(--bg);
  font-family: 'isocpeurregular', monospace;
}

header {
  flex-grow: 1;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-basis: 0;
}

footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-basis: 0;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

svg {
  width: clamp(3rem,25vw,8rem);
  height: clamp(3rem,25vw,8rem);
}

h1 {
  letter-spacing: -0.1rem;
  font-size: clamp(2rem,8vw,4rem);
  font-weight: normal;
  margin: 0 1rem;
}

h2 {
  letter-spacing: -0.1rem;
  font-size: clamp(1rem,5vw,2rem);
  font-weight: normal;
  margin: 0 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

footer article {
  justify-content: flex-end;
}

a:link, a:visited {
  color: var(--fg);
  text-decoration: none;
}

header, footer, main {
  background-color: var(--bg);
}
